.container-menu {
    background:#fff;
    color: white;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 3px 3px 15px 0 hsl(0deg 0% 66% / 30%)
}
.container-menu .subcontainer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-menu .subcontainer div{
    display: inline-block;
    vertical-align: middle;
}
.logo {
    width: 80px;
}
.logo img {
    max-width: 100%;
}
.search{
    width: 500px;
}
.search input{
    width: calc(500px - 20px - 10px);
    padding: 10px;
    font-size: 16px;
}
.actions ul li a{
    display: inline;
    padding: 10px;
}
.new-item-panel-container{
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}
.new-item-panel{
    width: 300px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
}
.new-item-panel p{
    padding: 5px 0;
}
.actions {
    position: relative;
}
.actions .btn span {
    margin-left: 7px;
}
.shopping-cart__quantity {
    background-color: white;
    color: #d70c1b;
    border-radius: 50%;
    height: 20px;
    min-width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.shopping-cart__details__overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.shopping-cart__details {
    background: white;
    position: absolute;
    top: 50px;
    right: 0px;
    margin: 0;
    padding: 20px;
    width: 290px;
    z-index: 3;
}
.shopping-cart__list {
    padding: 0; 
}